body {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #c11d64;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: impact;
  color: #c11d64;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
